Proyecto1/knights/logic.py:Zone.Identifier
Proyecto1/knights/__pycache__/
Proyecto1/knights/puzzle.py:Zone.Identifier:Zone.Identifier
Proyecto1/knights/puzzle.py:Zone.Identifier
Proyecto1/knights/logic.py:Zone.Identifier:Zone.Identifier
proyecto0/degrees/util.py:Zone.Identifier
proyecto0/degrees/degrees.py:Zone.Identifier
proyecto0/degrees/__pycache__/
proyecto0/tictactoe/__pycache__/